.track{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.music-disc{
    position: relative;
    width: 70%;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    background-color: #131313;
    border: 2px solid black;
}
.music-disc .line{
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 1px solid black;
    box-sizing: border-box;
}
.music-disc .main-line{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    width: 40%;
    height: 40%;
    border-radius: 50%;
    background-color: black;
}
.music-disc .add{
    position: absolute;
    top: 0;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 3px solid var(--control-color-light);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    color: var(--control-color-light);
    background-color: transparent;
}
.add-right{
    right: 0;
}

.add-left{
    left: 0;
}

.music-disc .add div{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 2px solid var(--control-color-light);
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;
}
.speed-slider{
    width: 20%;
    height: 100%;
    background-color: aqua;
}
.controls{
    width: 100%;
    flex-grow: 1;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 5px;
    margin-top: 50px;
}
.control-btn{
    background-color: var(--control-color-dark);
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    cursor: pointer;
}
.control-btn div {
    width: 100%;
    height: 100%;
    border-radius: 5px;
    border: 3px solid var(--control-color-light);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 100ms ease-in-out;
}
.control-active{
    border-color: red !important;
    color: red !important;
    box-shadow: 0 0 3px 1px red !important;
    text-shadow: 0 0 3px 1px red !important;
}
.control-disabled{
    background-color: var(--control-color-disabled);
    cursor: not-allowed;
}