.deck-wrapper{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.track-wrapper{
    width: 35%;
    height: 100%;
    padding: 20px;
}
.middle-wrapper{
    width: 30%;
    height: 100%;
}
.fx{
    width: 100%;
    height: 50%;
    background-color: blue;
}
.audio-control{
    width: 100%;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.volume-wrapper{
    height: 100%;
    width: 15%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.volume-slider{
    height: 90%;
    width: 10px;
    background-color: black;
    border-radius: 10px;
    position: relative;
}

.volume-slider .head{
    position: absolute;
    left: 50%;
    bottom: 100%;
    height: 20px;
    width: 50px;
    background-color: gray;
    border-radius: 5px;
    transform: translate(-50%, 50%);
    cursor: grab;
    z-index: 100;
}
.volume-slider .head:active{
    cursor: grabbing;
}
.volume-slider .trail{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: yellow;
    border-radius: inherit;
}