<div class="deck-wrapper">
    <div class="track-wrapper">
        <app-track [trackLabel]="'A'"></app-track>
    </div>
    <div class="middle-wrapper">
        <div class="fx"></div>
        <div class="audio-control">
            <div class="volume-wrapper">
                <div class="volume-slider" appVolumeDrag [head]="headA" [trail]="trailA" (updateVolume)="updateVolume('A', $event)">
                    <div #headA class="head"></div>
                    <div #trailA class="trail"></div>
                </div>
            </div>
            
            <div class="volume-wrapper">
                <div class="volume-slider" appVolumeDrag [head]="headB" [trail]="trailB" (updateVolume)="updateVolume('B', $event)">
                    <div #headB class="head"></div>
                    <div #trailB class="trail"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="track-wrapper">
        <app-track [trackLabel]="'B'"></app-track>
    </div>
</div>